<form action="<%= users_url %>" method="post">
  <!-- <%= auth_token %> -->
  <label for="email">Email:</label>
  <input
    type="text"
    name="user[email]"
    id="email"
    value="<%= @user.email%>">
  <br>
  <br>
  <label for="password">Password: </label>
  <input
    type="text"
    name="user[password]"
    id="password"
    value="">
  <br>
  <br>

  <input type="submit" value="Create Account">
</form>
<% content_for :footer do  %>
  Exciting stuff awaits
<% end %>