<% if action == :edit %>
  <% action_url = band_url(band)%>
<% else %>
  <% action_url = bands_url %>
<% end %>

<form action="<%= action_url %>" method="post">
   <!-- <%# if band.persisted? %> -->
  <% if action == :edit %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>

  <label for="name">Name</label>
  <input id="name" type="text" name="band[name]" value="<%= band.name %>">

<br><br>

  <input type="submit" value="<%= action == :edit ? 'update band' : 'add band'%>">
</form>